<a class="hidden sm:block font-sans font-black tracking-widest hover:bg-black/5 transition-all" href="/">HIS STORIES.</a>
<a class="block sm:hidden font-sans font-black tracking-widest hover:bg-black/5 transition-all" href="/">HS.</a>