---
import Layout from '../layouts/Layout.astro';

import Button, { ButtonVariant } from '../components/Button/Button.astro';
import Hero from '../components/Hero/Hero.astro';
import Section from '../components/Section/Section.astro';
---

<Layout title="Welcome to His Stories.">
	<main>
		<Hero>
			<h1 slot="title">His Stories</h1>
			<p slot="description">Share the goodness of God in your life and encourage someone else.</p>
			<img slot="image" src="/people.jpg" alt="A crowd of people." class="rounded-xl" />
			
			<Button slot="actions">Share your story</Button>
			<Button slot="actions" variant={ButtonVariant.Ghost}>Read other stories</Button>
		</Hero>
		<Section>
			<h1 slot="title" class="">Share your story with others</h1>
		</Section>
	</main>
</Layout>