---
import Button from "../components/Button/Button.astro";
import Center from "../components/Center/Center.astro";
import TextArea from "../components/TextArea/TextArea.astro";
import TextField from "../components/TextField/TextField.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title={`Write Your Story - His Stories`}>
    <div class="px-8 flex flex-col items-center justify-center min-h-[90vh]">
        <header class="flex flex-col gap-1 text-center">
            <h1 class="text-4xl text-hs-cream-90">Your story has been submitted!</h1>
            <h2 class="text-hs-cream-70">We should publish your story shortly. We will send you an email once it has been submitted. God bless!</h2>
        </header>
    </div>
</Layout>