---
import Button from "../Button/Button.astro";
import Logo from "../Logo/Logo.astro";
---

<nav class="flex px-8 py-4 absolute top-0 bg-transparent w-full items-center">
    <Logo />
    <div class="flex gap-4 items-center ml-auto">
        <Button variant="ghost" href="/stories/1">All stories</a>
        <Button variant="secondary" href="/write">Share your story</a>
    </div>
</nav>