<section class="flex flex-col gap-4 items-center justify-center px-16 py-24 lg:py-32 text-center">
    <div class="text-4xl text-hs-cream-90">
        <slot name="title"></slot>
    </div>
    <div class="text-hs-cream-70 md:w-1/3">
        <slot name="description"></slot>
    </div>
</section>