---
import Center from '../../components/Center/Center.astro';
import Layout from '../../layouts/Layout.astro';

const { storyId: storyIdParam } = Astro.params;
const storyId = parseInt(storyIdParam, 10);

import { db, eq, Story, Author } from 'astro:db';
const story = await db.select().from(Story).where(eq(Story.id, storyId));
const author = await db.select().from(Author).where(eq(Author.id, story[0].authorId));
const { title, body } = story[0];
const { displayName : authorName } = author[0];

function splitBody (body : string) {
    return body.split("\n");
}
---

<Layout title={`"${title}" by ${authorName} - His Stories`}>
	<Center>
        <header class="flex flex-col items-center justify-center text-center xl:px-48 xl:py-6 w-full">
            <h1 class="text-5xl font-bold text-hs-cream-90">{ title }</h1>
            <p class="text-2xl text-hs-cream-70">by { authorName }</p>
        </header>
        <section class="px-16 flex flex-col gap-8 text-xl tracking-wider text-black/90">
            { splitBody(body).map(paragraph => <p>{ paragraph }</p>) }
        </section>
    </Center>
</Layout>